.InputField_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  width: '100%';
  background-color: #ffffff;
  margin-top: 0.5rem;
  row-gap: 0.2rem;
  column-gap: 0.2rem;
}

.isEdit {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  width: '100%';
  background-color: #ffffff;
  margin-top: 0.5rem;
  row-gap: 0.2rem;
  column-gap: 0.2rem;
}
